button {
    font-family: inherit;
    cursor: pointer;
    transition: background 0.25s;
    border: none;
    border-radius: 29px;
    font-style: normal;
    font-weight: 400;
}

.small {
    width: 32px;
    height: 32px;
    padding: 8px 12px 8px 12px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(206, 213, 222);
    border-radius: 6px;
    background: rgb(242, 245, 248);
}

.big {
    width: 40px;
    height: 40px;
    padding: 10px 12px 10px 12px;
    border-radius: 8px;
    background-color: inherit;
}


.active-btn {
    background-color: #FEE3E3;
}

.disable-btn {
    background: none;
    cursor: not-allowed
}

.active {
    color: #C53030;
}

.active:hover {
    color: rgb(155, 44, 44);
}

.disable {
    color: #9DA6B4;
}

