table {
    width: 100%;
    border-collapse: collapse;
}


tr {
    height: 52px;
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

 

th,
td {
    text-align: left;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
}

 

th {
    padding-left: 16px;
}

td {
    padding: 0px 16px 0px 16px;
}

tbody tr:hover {
    background-color: var(--secondary-color)
}

.tbodyLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



button {
    margin: 10px;
    padding: 5px 10px;
}



.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.tags {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    height: 32px;
    color: var(--secondary-text-color);
    background: var(--secondary-color);
}

thead,
tfoot {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}

tfoot {
    bottom: 0;
    width: 100%;
}

.nums {
    font-size: 14px;
    color: var(--secondary-text-color)
}



.table-container {
    background-color: var(--bg-white-color);
    border: 1px solid var(--secondary-color);
    height: 920px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    // border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    

}


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(94, 102, 116);
    border-radius: 4px;
}


.table-row:hover {
    .btn-column {
        display: block;
    }
}

.table {
    border-radius: 12px;
    overflow: hidden;
    overflow-y: auto;
}

td:last-child {
    width: 100px;
}

.btn-column {
    display: none;
}




.tfoot-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 48px;
    background: var(--bg-white-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid var(--secondary-color);
    border-top: none;
    padding-right: 1rem;
}

.pagination {
    display: flex;
    gap: 8px;
}


.pagination>Button {
    background-color: var(--bg-white-color);
}

.pagination>Button:hover {
    background-color: rgb(242, 245, 248);
}


.tableMeter {
    position: relative;
    height: 100vh;

}

.pageLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}