:root {
    font-family: "Roboto", sans-serif;
    --bg-color: #F8F9FA;
    --bg-white-color: #FFFFFF;
    --secondary-color: #E0E5EB;
    --text-color: #1F2939;
    --secondary-text-color: #5E6674;
}